.popup__title {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: inherit;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
}

@media screen and (max-width:1279px) {
  .popup__title {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1279 - 320)));
  }
}